.footer{
  border-top: 1px solid rgba(128, 128, 128, 0.52);
  padding: 30px 30px;
  background: #ebebbb4f;




  .footer-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
